#include <dt-bindings/zmk/keys.h>
#include <behaviors/hires_dial.dtsi>

&spi0 {
    status = "disabled";
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    hires_dial: hires_dial@75 {
        status = "okay";
        compatible = "sekigon,hires-dial";
        reg = <0x75>;
        res-cpi = <1275>;
        counts-per-revolution = <1275>;
        motion-read-interval-ms = <8>;
        
        motion-gpios = <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
        power-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | NRF_GPIO_DRIVE_H0H1)>;
        sleep1-enable; 
        sleep2-enable; 
    };
};

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&hires_dial>;
        triggers-per-rotation = <20>;
    };

    keymap {
        compatible = "zmk,keymap";

        s_main {
            sensor-bindings = <&hires_dial_encoder C_VOL_UP C_VOL_DN>;
        };
        s_num {
            sensor-bindings = <&hires_dial_scroll 1 1>;
        };
        s_sign {
            sensor-bindings = <&hires_dial_scroll 10 1>;
        };
        function {
            sensor-bindings = <&hires_dial_radial_controller 4 1>;
        };
    };
};

/ {
    /* 1ピンだけの独立したキースキャナを作成 */
    dial_click_kscan: dial_click_kscan {
        compatible = "zmk,kscan-gpio-direct";
        poll-period-ms = <16>;
        input-gpios = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    /* 元のマトリクスとダイアルのスイッチを「合体」させる */
    kscan_combo: kscan_combo {
        compatible = "zmk,kscan-composite";
        rows = <5>; 
        columns = <7>; 

        matrix {
            kscan = <&kscan0>;
        };

        dial_button {
            kscan = <&dial_click_kscan>;
            /* 右手のビルドエラーを避けるため、左上端のキーに相乗りさせる */
            row-offset = <2>; 
            column-offset = <2>; 
        };
    };

    /* キーボード全体のキースキャナを、合体させたものに置き換える */
    chosen {
        zmk,kscan = &kscan_combo;
    };
};

&hires_dial_encoder { sensor = <&hires_dial>; };
&hires_dial_scroll { sensor = <&hires_dial>; };
&hires_dial_hscroll { sensor = <&hires_dial>; };
&hires_dial_radial_controller { sensor = <&hires_dial>; };
